:root {
    --main-color: #000000;
    --secondary-color: #ffffff;
    --alternative-color: pink;
    --main-text-color: #000000;
    --secondary-text-color: #ffffff;
    --footer-background-color: #333333;
}