:root {
    --primary-color: #403D39;
    --secondary-color: #5863F8;
    --dark-color: #252422;
    --light-color: #CCC5B9  ;
    --darkest-color: #000814;
    --lightest-color: #FAFAFA;

    --main-text-color: var(--dark-color);
    --secondary-text-color: var(--lightest-color);
}