:root {
    --primary-color: #003566;
    --secondary-color: #ea3546;
    --dark-color: #001d3d;
    --light-color: #EFEFEF;
    --darkest-color: #000814;
    --lightest-color: #e5e5e5;

    --main-text-color: #000814;
    --secondary-text-color: var(--lightest-color);
}