@font-face {
    font-family: "Gotham";
    font-style: normal;
    font-display: swap;
	font-weight: 400;
    src: url("assets/fonts/GOTHAMLIGHT.TTF") format("truetype");
}
@font-face {
    font-family: "GothamBold";
    font-style: normal;
    font-display: swap;
	font-weight: 800;
    src: url("assets/fonts/GOTHAMBOLD.TTF") format("truetype");
}
@font-face {
    font-family: "Grotesque";
    font-style: normal;
    font-display: swap;
	font-weight: 400;
    src: url("assets/fonts/Body-Grotesque-Fit-Bold-trial.ttf") format("truetype");
}