body {
    height: 100vh;
    font-family: var(--font-text);
}
h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}
h4 {
    font-size: 1.2rem;
}
h5 {
    font-size: .8rem;
}
h6 {
    font-size: .6rem;
}
p {
    padding-bottom: 1rem;
}
.section-title {
    font-family: var(--font-title);
    padding: 1rem 0;
}

.main-container {
    padding: 0 3rem;
    min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
}

.simple_link {
    text-decoration: underline;
    color: inherit;
    transition: 1s color;
    &:hover {
        color: var(--alternative-color);
    }
}

.portfolio-project-container {
    display: flex;
    &__images {
        display: flex;
        justify-items: center;
        flex-direction: column;
        max-width: 350px;
        padding-left: 1rem;
        img {
            max-width: 300px;
            padding-bottom: 1rem;
        }
    }
}