body {
    height: 100vh;
    font-family: var(--font-text);
}
h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}
h4 {
    font-size: 1.2rem;
}
h5 {
    font-size: .8rem;
}
h6 {
    font-size: .6rem;
}
.section-title {
    font-family: var(--font-title);
}