body {
    height: 100vh;
    font-family: var(--font-text);
}
h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}
h4 {
    font-size: 1.2rem;
}
h5 {
    font-size: .8rem;
}
h6 {
    font-size: .6rem;
}
.section-title {
    font-family: var(--font-title);
    margin: 1rem 0;
}

.main-container {
    padding: 0 3rem;
    min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
}

.text-paragraph {
    padding-bottom: 1rem;
}