:root {
    --navbar-height: 70px;
    --footer-height: 60px;
    --footer-height-mobile: 120px;
    --main-padding: 80px;
    --font-title: 'alternative', sans-serif;
    --font-text: 'main', sans-serif;
    --font-text-bold: 'mainBold', sans-serif;
}
